{
  "target_users": [
    {
      "uid": "1401527553",
      "name": "tombkeeper"
    }
  ],
  "cookie": "YOUR_WEIBO_COOKIE_HERE",
  "download_images": true,
  "image_path": "../data/images",
  "database_path": "../data/database.db",
  "delay": 2,
  "max_retries": 3,
  "force_update": false
}
